//Import styles
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&display=swap');
@import "variable";
@import "function";
@import "colors";


body {
    font-family: 'Space Grotesk', sans-serif;
}

/* Selects the second li element in a list */
li:nth-child(2) {
    background: lightgreen;
  }

  /* Selects every third element among any group of siblings */
:nth-child(3) {
    background: yellow;
  }
  
h1 {
    font-size: sizeDoubler(14px);
    color: $primary-color;
}

h4 {
    color: $pure-color;
    font-size: sizeDoubler(10px);
}

.phptag {
    font-size: $myFontSize;
    color: $myFaint-color;
}